$blue: #00bcd4;

@import "partials/header.scss";
@import "partials/toast.scss";

.hide {
  display: none;
}

/* w3schools navbar */

body {
  background-color: #FAFAFA;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}

#content {
  text-align: center;
}
