$blue:#00bcd4;

body {
  background-color: $blue;
}

h1 {
  font-family: 'Bangers', Helvetica;
    font-size: 9rem;
    color: #fffffe;
    letter-spacing: 0.2rem;
}

button {
  font-family: Helvetica;
  background-color: transparent;
  border: 2px solid #fffffe;
  color: #fffffe;
  border-radius: 0.7rem;
  padding: 34px 26px;
  font-size: 4rem;
}

.content {
  width: 80%;
  height: 40%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
