<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#00bcd4">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="public/manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="public/style/riot-mui.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/style/build/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>SwapShop</title>
  </head>
  <body>
    <header>
      {{{header}}}
    </header>
    <app></app>
    {{{toast}}}


    <script type="text/javascript" src="public/js/swReg.js"></script>
    <script type="text/javascript" src="public/js/adapter.js"></script>
    <script type="text/javascript" src="public/js/build/bundle.js"></script>
  </body>
</html>
