app-bar {
  .header {
    background-color: $blue;
    font-family: 'Bangers';
    text-align: center;
    height: 60px;
  }

  .logo {
    height: inherit;

    a {
      text-decoration: none;
      font-size: 1.8em;
      color: white;
      line-height: 60px;
    }
  }
}

navigation {
  header {
    display: inline-flex;
    width: 100vw;

    menu-item {
      width: 25%;
      line-height: 50px;

      div {
        text-align: center;
      }

      a {
        text-decoration: none;
      }
    }
  }
}
